@import "@/style/public.scss";

body {

    margin: 0 auto;
    font-size: 25px;

    #app {}

}

p {
    margin: 0;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix {
    &:after {
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }
}

.v-form {
    .v-input {
        .v-input__control {
            .v-input__slot {
                padding-bottom: 14px;

                &:before {
                    border-color: rgb(225, 225, 225);

                }
            }
        }
    }

}

.inline-boclk {
    display: inline-block;
    vertical-align: middle;
}