$bg-color:rgb(255, 64, 0);
$bg-yellow: rgb(255, 145, 46);
$bg-green: rgb(109, 217, 0);
$bg-huang: rgb(255, 210, 77);
$bg-gray: rgb(238, 238, 238);
$padding-20:20px;
$color:#7b7b7b;
$text-gray-color:#999;

.main-height {
    height: calc(100% - 87.5px);
}


.border-radius {
    border-radius: 6px;
}

.padding-20 {
    padding: 20px;
    padding-bottom: 0px;
}

.bottom-tip {
    margin-bottom: 50px;
    text-align: center;
    font-size: 24px;
    color: rgb(102, 102, 102);
}

@mixin gradient-bg {
    background: linear-gradient(to right, rgb(255, 218, 115), rgb(255, 179, 63)) !important;
}

@mixin bg-yellow-bottom {
    background: linear-gradient(to bottom, rgb(255, 205, 72), rgb(255, 130, 2))
}

@mixin bg-purple-bottom {
    background: linear-gradient(to bottom, rgb(255, 152, 225), rgb(179, 2, 179))
}

@mixin bg-green-bottom {
    background: linear-gradient(to bottom, rgb(54, 217, 0), rgb(1, 105, 25))
}