$bg-color:rgb(255, 64, 0);
$bg-yellow: rgb(255, 145, 46);
$bg-green: rgb(109, 217, 0);
$bg-huang: rgb(255, 210, 77);
$bg-gray: rgb(238, 238, 238);
$padding-20:20px;

.padding-20 {
    padding: 20px;
}

@mixin gradient-bg {
    background: linear-gradient(to right, rgb(255, 218, 115), rgb(255, 179, 63))
}

@mixin bg-yellow-bottom {
    background: linear-gradient(to bottom, rgb(255, 218, 115), rgb(255, 179, 63))
}

@mixin bg-purple-bottom {
    background: linear-gradient(to right, rgb(255, 152, 225), rgb(179, 2, 179))
}

@mixin bg-green-bottom {
    background: linear-gradient(to right, rgb(54, 217, 0), rgb(1, 105, 25))
}