.main-height {
  height: calc(100% - 87.5px);
}

.border-radius {
  border-radius: 6px;
}

.padding-20 {
  padding: 20px;
  padding-bottom: 0px;
}

.bottom-tip {
  margin-bottom: 50px;
  text-align: center;
  font-size: 24px;
  color: #666666;
}
